<!doctype html>
<html lang="en" ng-app="factr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/angular-toggle-switch.css">
    <link rel="stylesheet" href="css/app.css">
    <title>Slideout tests</title>
  </head>
   <body ng-controller="AppCtrl">
    <nav id="menu" class="menu">
      <a href="" target="">
        <header class="menu-header">
          <span class="menu-header-title">factr</span>
        </header>
      </a>

      <section class="menu-section">
        <h3 class="menu-section-title">Categories</h3>
        <ul class="menu-section-list">
          <li ng-repeat="c in categories">
            <a href="" target="_blank">{{c.plural}}</a> <toggle-switch ng-model="c.state"><toggle-switch>
          </li>
        </ul>
      </section>
    </nav>

    <main id="panel" class="panel">
      <header class="panel-header">
        <button class="btn-hamburger js-slideout-toggle">
          <i class="fa fa-lg fa-fw fa-navicon"></i>
        </button>
        <button class="" ng-click="nextFact()">
          <i class="fa fa-lg fa-fw fa-cogs"></i>
        </button>
      </header>

      <section id="radar">
      </section>

      <section class="box">
        <p class="fact">{{fact}}</p>
      </section>

      <footer class="panel-footer">
        <div class="tweet">
          <i class="fa fa-lg fa-fw fa-twitter"></i>
        </div>
      </footer>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/sketch.min.js"></script>
    <script src="js/slideout.min.js"></script>
    <script src="js/angular-toggle-switch.min.js"></script>
    <script src="js/app.js"></script>

    <script>
      window.onload = function() {
        document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
          slideout.toggle();
        });

        document.querySelector('.menu').addEventListener('click', function(eve) {
          if (eve.target.nodeName === 'A') { slideout.close(); }
        });
      };
    </script>
  </body>
</html>
